package ${package}.${moduleName}.controller;

import ${package}.${moduleName}.response.DResponse;
import ${package}.${moduleName}.response.Result;
import ${package}.service.api.I${className}Service;
import ${package}.shared.domain.param.${className}ListReq;
import ${package}.shared.domain.vo.${className}ListVo;
import ${package}.shared.domain.base.PageResult;

import lombok.AllArgsConstructor;
import lombok.extern.slf4j.Slf4j;
import org.springframework.web.bind.annotation.*;

import static org.springframework.http.MediaType.APPLICATION_JSON_VALUE;

/**
 * @Author: ${author}
 * @Description: ${comments}接口
 * @Date: ${datetime}
 */
@Slf4j
@RestController
@RequestMapping(value = "/api/${classname}", produces = APPLICATION_JSON_VALUE)
@AllArgsConstructor
public class ${className}Controller {
    private I${className}Service ${classname}Service;

    /**
     * 分页条件查询
     */
    @PostMapping("/list")
    DResponse<PageResult<${className}ListVo>> findList(@RequestBody ${className}ListReq ${classname}ListReq) {
        return Result.success(${classname}Service.findList(${classname}ListReq));
    }

}
