package ${package}.entity.model;

import io.swagger.annotations.ApiModelProperty;
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Table;
import javax.persistence.Id;
import java.io.Serializable;
import lombok.Data;
import java.util.Date;
#if(${hasBigDecimal})
import java.math.BigDecimal;
#end

/**
 * @Author: ${author}
 * @Description: ${comments}实体
 * @Date: ${datetime}
 */
@Data
@Entity
@Table ( name ="${tableName}" )
public class Dto${className} implements Serializable {
    private static final long serialVersionUID =  1L;

#foreach ($column in $columns)
    /**
    * $column.comments
    */
    @ApiModelProperty(value = "$column.comments")
    private $column.attrType $column.attrname;
#end
}
