package ${package}.${moduleName}.controller.api;

import ${package}.entity.model.${className};
import ${package}.service.util.Result;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.validation.annotation.Validated;
import org.springframework.web.bind.annotation.*;
/**
 * @Author: ${author}
 * @Description: ${comments}接口
 * @Date: ${datetime}
 */
@Api(tags = "${comments}")
@RequestMapping("/${classname}")
@Validated
public interface I${className}Resource {

    /**
     * 查询
     * @param id
     * @return
     */
    @ApiOperation(value = "查询")
    @GetMapping("getById")
    Result<${className}> getById(Long id) throws Exception;
}
