package ${package}.service.repo;


import ${package}.shared.domain.model.${className};
import ${package}.shared.domain.param.${className}ListReq;
import ${package}.shared.domain.vo.${className}ListVo;
import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

import java.util.List;

/**
 * @Author: ${author}
 * @Description: ${comments}mapper操作
 * @Date: ${datetime}
 */
@Mapper
public interface ${className}Mapper extends BaseMapper<${className}> {
    List<${className}ListVo> findList(@Param("p") ${className}ListReq ${classname}ListReq);
}
