package ${package}.shared.domain.param;

import lombok.AllArgsConstructor;
import lombok.Data;
import lombok.EqualsAndHashCode;
import lombok.NoArgsConstructor;

import ${package}.shared.domain.base.PageReq;

#if(${hasBigDecimal})
import java.math.BigDecimal;
#end
#if(${hasDate})
import java.time.LocalDate;
#end
/**
 * @Author: ${author}
 * @Description: ${comments}入参
 * @Date: ${datetime}
 */
@Data
@NoArgsConstructor
@AllArgsConstructor
@EqualsAndHashCode(callSuper = true)
public class ${className}ListReq extends PageReq {
    private static final long serialVersionUID =  1L;

#foreach ($column in $columns)
    #if($column.columnName != $pk.columnName && $column.columnName != "create_time" && $column.columnName != "update_time")
    /**
     * $column.comments
     */
    private $column.attrType $column.attrname;
    #elseif($column.columnName == "create_time")
    /**
     * 开始时间
     */
    private String startTime;
    /**
     * 结束时间
     */
    private String endTime;
    #end
#end
}
