package ${package}.${moduleName}.controller.impl;

import ${package}.${moduleName}.controller.api.I${className}Resource;
import ${package}.${moduleName}.dto.Dto${className};
import ${package}.${moduleName}.service.api.I${className}ServiceFacade;
import lombok.AllArgsConstructor;
import org.springframework.http.HttpStatus;
import org.springframework.http.ResponseEntity;
import org.springframework.web.bind.annotation.RestController;

/**
 * @Author: ${author}
 * @Description: ${comments}接口实现
 * @Date: ${datetime}
 */
@RestController
@AllArgsConstructor
public class ${className}Resource implements I${className}Resource {
    private I${className}ServiceFacade ${classname}ServiceFacade;

    @Override
    public ResponseEntity<Dto${className}> getById(Long id) {
        return new ResponseEntity<>(${classname}ServiceFacade.getById(id), HttpStatus.OK);
    }
}