package ${package}.service.impl;

import ${package}.entity.model.${className};
import ${package}.service.api.I${className}Service;
import ${package}.service.repo.${className}Mapper;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import lombok.extern.slf4j.Slf4j;
import lombok.AllArgsConstructor;
import org.springframework.stereotype.Service;

/**
 * @Author: ${author}
 * @Description: ${comments}服务接口实现
 * @Date: ${datetime}
 */
@Slf4j
@Service
@AllArgsConstructor
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements I${className}Service {
}

