package ${package}.${moduleName}.service.impl;

import ${package}.entity.model.${className};
import ${package}.${moduleName}.dto.Dto${className};
import ${package}.${moduleName}.service.api.I${className}ServiceFacade;
import ${package}.service.api.I${className}Service;
import lombok.extern.slf4j.Slf4j;
import lombok.AllArgsConstructor;
import org.springframework.beans.BeanUtils;
import org.springframework.stereotype.Service;

/**
 * @Author: ${author}
 * @Description: ${comments}门面接口实现
 * @Date: ${datetime}
 */
@Slf4j
@Service
@AllArgsConstructor
public class ${className}ServiceFacade implements I${className}ServiceFacade {
    private I${className}Service ${classname}Service;

    @Override
    public Dto${className} getById(Long id) {
        return formatData(${classname}Service.getById(id));
    }
    /**
     * 格式化数据
     * */
    Dto${className} formatData(${className} ${classname}){
        Dto${className} dto${className} = new Dto${className}();
        BeanUtils.copyProperties(${classname},dto${className});
        return dto${className};
    }
}