package ${package}.service.impl;

import cn.hutool.core.map.MapUtil;
import com.baomidou.mybatisplus.extension.service.impl.ServiceImpl;
import ${package}.service.repo.${className}Mapper;
import ${package}.service.api.I${className}Service;
import ${package}.shared.domain.model.${className};
import ${package}.shared.domain.model.base.PageResult;
import com.github.pagehelper.PageInfo;
import com.github.pagehelper.page.PageMethod;
import lombok.extern.slf4j.Slf4j;
import lombok.AllArgsConstructor;
import org.springframework.stereotype.Service;

import java.util.List;
import java.util.Map;

import static ${package}.shared.domain.param.base.PageConstants.DEF_PAGE_NUM;
import static ${package}.shared.domain.param.base.PageConstants.DEF_PAGE_SIZE;

/**
 * @Author: ${author}
 * @Description: ${comments}服务接口实现
 * @Date: ${datetime}
 */
@Slf4j
@Service
@AllArgsConstructor
public class ${className}ServiceImpl extends ServiceImpl<${className}Mapper, ${className}> implements I${className}Service {
    private ${className}Mapper ${classname}Mapper;

    @Override
    public PageResult<${className}> findList(Map<String, Object> params) {
        Integer pageNum = MapUtil.getInt(params, "pageNum", DEF_PAGE_NUM);
        Integer pageSize = MapUtil.getInt(params, "pageSize", DEF_PAGE_SIZE);
        PageMethod.startPage(pageNum, pageSize);
        List<${className}> ${classname}s = ${classname}Mapper.findList(params);
        return PageResult.restPage(new PageInfo<>(${classname}s));
    }
}

